menuconfig PUB_SUB
	bool "Publish Subscribe"
	select POLL
	help
	  Enables the publish subscribe messaging framework

if PUB_SUB

config PUB_SUB_DEFAULT_BROKER
	bool "Default pub/sub broker"
	default y

config PUB_SUB_RUNTIME_ALLOCATORS
	bool "Runtime allocators"

config PUB_SUB_RUNTIME_ALLOCATORS_MAX_NUM
	int "The maximum number of runtime pub/sub allocators"
	default 5
	depends on PUB_SUB_RUNTIME_ALLOCATORS

config PUB_SUB_EXPIRED_DELAYABLE_MSG_RETRY_TIME_MS
	int "How often to retry publishing expired delayable messages in milliseconds"
	default 5

endif