menuconfig PUB_SUB
	bool "Publish Subscribe"
	select POLL
	help
	  Enables the publish subscribe messaging framework

if PUB_SUB

config PUB_SUB_DEFAULT_BROKER
	bool "Default pub/sub broker"
	default y

config PUB_SUB_RUNTIME_ALLOCATORS
	bool "Runtime allocators"

config PUB_SUB_RUNTIME_ALLOCATORS_MAX_NUM
	int "The maximum number of runtime pub/sub allocators"
	default 5
	depends on PUB_SUB_RUNTIME_ALLOCATORS

endif